.card-mutation {
  margin-top: 20px;
  display: flex;
}

.card-mutation__buttons {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

// .img-wrapper {
//   transform: scale(0.8);
// }
