.navigation {
  // background-color: aqua;
  background-color: #00ffff33;
  padding: 30px;
  height: 100vh;
}

.navigation__link {
  margin-right: 20px;
  cursor: pointer;
  box-sizing: border-box;
  padding: 3px;
  border: 3px solid transparent;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -6px;
}

.navigation__link:hover {
  border: 3px solid black;
  border-radius: 6px;
  padding: 3px;
  background-color: rgba(191, 255, 16, 0.425);
}
