@import '../../../../constans-scss/constans-scss.scss';

.element {
  padding: 5px;
  border: 1px white solid;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 2px;
  text-decoration: none;
  cursor: pointer;
}

.elementActive {
  color: $linkActiveColor;
}

.elementDeactive {
  color: $linkDeactiveColor;
}

.list {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
