@import '../../../../constans-scss/constans-scss.scss';

.element {
  padding: 5px;
  border: 1px $linkDeactiveColor solid;
  border-radius: 5px;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
  margin: 0;
}

.elementActive {
  color: $linkActiveColor;
}

.elementDeactive {
  color: $linkDeactiveColor;
}

.list {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}

.link {
  text-decoration: none;
  margin-top: 4px;
}

.element:hover {
  border: 1px $linkActiveColor solid;
  color: $linkActiveColor;
}
