.item {
  border: 1px rgb(110, 110, 110) solid;
  border-radius: 10px;
  max-width: 491px;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 10px;
  color: rgb(44, 43, 43);
}

.bold {
  font-weight: 900;
  color: rgb(66, 107, 146);
}

.item__text {
  padding: 5px;
}

.lineThrough {
  text-decoration: line-through;
}
