@import '../../../../constans-scss/constans-scss.scss';

.link {
  cursor: pointer;
  text-decoration: none;
  margin-right: 20px;
}

.linkActive {
  color: $linkActiveColor;
}

.linkDeactive {
  color: $linkDeactiveColor;
}

.link:hover {
  color: $linkActiveColor;
}

.text {
  color: $linkDeactiveColor;
  font-size: 18px;
}
