.card {
  border: 3px black solid;
  border-radius: 15px;
  width: 200px;
  height: 330px;
  overflow: hidden;
}

.card__img {
  width: 200px;
  max-height: 300px;
  object-fit: cover;
  margin-top: auto;
}

.card__name {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
