.main {
  padding: 30px;
}

.cards__option {
  display: flex;
  flex-direction: row;
}

.cards__select {
  width: 60px;
  height: 60px;
  margin-right: 100px;
  margin-bottom: 30px;
}

.cards__add {
  border: 1px black solid;
  border-radius: 12px;
  padding: 5px;
}

.mp {
  margin: 0;
  padding: 0;
}
